@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FormulaCondensed';
    src: url('../public/FormulaCondensed/formula-condensed.ttf');
    }

.animate-bounce-slow {
    animation-duration: 2s;
    }